{% extends 'base.html' %}
{% block content %}
<style>
h1 {
    margin-top: 30px;
    text-align: center;
    font-size: 1.75rem;
    font-family: 'Jua', sans-serif;
}

p {
    font-family: 'Do Hyeon', sans-serif;
}

form {
    justify-content: center;
    font-family: 'Do Hyeon', sans-serif;
}

input {
    width: 100%;
}

.signup, .login {
    width: 100%;
    padding: .8em 0 10px .8em;
    background-color: #28A55F;
    border: none;
    color:  white;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 20px;
}

</style>

{% ifequal auth_mode 'signup' %}

        <h1>Sign up</h1>
        <hr>
        <p>담배를 좋아하는 여러분,<br>
            만나서 반갑습니다.<br>
            CigaReco의 회원이 되어주세요!</p>
        <form method="POST" action="{% url 'accounts:signup' %}">
            {% csrf_token %}
            Username : 
            <br>
            <input type="text" name="username" value="">
            <br>
            Password:
            <br>
            <input type="password" name="password1" value="">
            <br>
            Confirm Password:
            <br>
            <input type="password" name="password2" value="">
            <hr>
            Nickname:
            <br>
            <input type="text" name="nickname" value="">
            <br>
            E-mail:
            <br>
            <input type="text" name="email" value="">
            <br>
            <br>
            <input class="signup" type="submit" value="Signup">
        </form>

    {% else %}

        <h1>Login</h1>
        <hr>
        <p>더 많은 서비스를 이용하시려면<br>
             로그인 해주세요!</p>
        <form method="POST" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            Username : 
            <br>
            <input type="text" name="username" value="">
            <br>
            Password:
            <br>
            <input type="password" name="password" value="">
            <br>
            <br>
            <input class="login" type="submit" value="Login">
        </form>

    {% endifequal %}

{% endblock %}