
{% ifequal auth_mode 'signup' %}

        <h1>Sign up</h1>
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            Username : 
            <br>
            <input type="text" name="username" value="">
            <br>
            Password:
            <br>
            <input type="password" name="password1" value="">
            <br>
            Confirm Password:
            <br>
            <input type="password" name="password2" value="">
            <hr>
            Nickname:
            <br>
            <input type="text" name="nickname" value="">
            <br>
            E-mail:
            <br>
            <input type="text" name="email" value="">
            <br>
            <input type="submit" value="Signup">
        </form>

    {% else %}

        <h1>Login</h1>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            Username : 
            <br>
            <input type="text" name="username" value="">
            <br>
            Password:
            <br>
            <input type="password" name="password" value="">
            <br>
            <input type="submit" value="Login">
        </form>

    {% endifequal %}