{% ifequal tobacco_type 'cigarette' %}
    {% ifequal mode 'create' %}


        <h1>Add Cigarette</h1>
        <form method="POST" action="{% url 'cigarettes:create_cigarette' %}">
            {% csrf_token %}
            <br>
            <input type="radio" name="is_local" value=True>국내판매 제품
            <input type="radio" name="is_local" value=False>해외판매 제품
            <br>
            브랜드 명: <input name="brand" type="text" value="">
            <br>
            제품 명: <input name="name" type="text" value="">
            <br>
            가격 : <input name="price" type="text" value="">
            <br>
            타르 함량 : <input name="tar" type="text" value="">
            <br>
            니코틴 함량 : <input name="nicotine" type="text" value="">
            <br>
            출시일 : <input name="rel_date" type="text" value="">
            <br>
            <input type="radio" name="is_menthol"  value=True>맨솔 유
            <input type="radio" name="is_menthol"  value=False>맨솔 무
            <br><br>
            <input type="submit" value="연초 추가">
            <br>
        </form>

    {% else %}
        <h1>Update Cigarette</h1>
        <form method="POST" action="{% url 'cigarettes:update_cigarette' edit_cigarette.id %}">
            {% csrf_token %}
            <br>
            <input type="radio" name="is_local" value=True>국내판매 제품
            <input type="radio" name="is_local" value=False>해외판매 제품
            <br>
            브랜드 명: <input name="brand" type="text" value={{edit_cigarette.brand}}>
            <br>
            제품 명: <input name="name" type="text" value={{edit_cigarette.name}}>
            <br>
            가격 : <input name="price" type="text" value={{edit_cigarette.price}}>
            <br>
            타르 함량 : <input name="tar" type="text" value={{edit_cigarette.TAR}}>
            <br>
            니코틴 함량 : <input name="nicotine" type="text" value={{edit_cigarette.nicotine}}>
            <br>
            출시일 : <input name="rel_date" type="text" value={{edit_cigarette.rel_date}}>
            <br>
            <input type="radio" name="is_menthol"  value=True>맨솔 유
            <input type="radio" name="is_menthol"  value=False>맨솔 무
            <br><br>
            <input type="submit" value="연초 추가">
            <br>
        </form>

    {% endifequal %}


{% else %}

    <h1>Add E-Cigarette</h1>
    <form method="POST" action="{% url 'cigarettes:create_elec_cigarette' %}">
        {% csrf_token %}
        <br>
        <input type="radio" name="c_type"  value="액상">액상형
        <input type="radio" name="c_type"  value="궐련">궐련형
        <input type="radio" name="c_type"  value="카트리지">카트리지형
        <br>
        브랜드 명: <input name="brand" type="text" value="">
        <br>
        제품 명: <input name="name" type="text" value="">
        <br>
        이미지: <input type="file" class="custom-file-input" accept=".jpg,.jpeg,.png,.gif" name="photo">
        <br>
        가격 : <input name="price" type="text" value="">
        <br>
        타르 함량 : <input name="tar" type="text" value="">
        <br>
        니코틴 함량 : <input name="nicotine" type="text" value="">
        <br>
        출시일 : <input name="rel_date" type="text" value="">
        <br><br>
        <input type="submit" value="전자담배 추가">
        <br>
    </form>

{% endifequal %}