{% extends 'base.html' %}        
{% block content %}        

    {% if user.is_authenticated %}
        <form id="logout" method ="POST" action="{% url 'accounts:logout' %}">
            {% csrf_token %}
            <input type="submit" value="Logout">
        </form>
        <a href="{% url 'accounts:mypage' profile.id  %}">MyPage</a>
        <a href="{% url 'cigarettes:new_cigarette' %}">연초 추가</a>
        <a href="{% url 'cigarettes:new_elec_cigarette' %}">전자담배 추가</a>
        
    {% else %}
        <a href="{% url 'accounts:signup'%}">Signup</a>
        <a href="{% url 'accounts:login'%}">Login</a>
    {% endif %}

    <h1>구름 쪼아</h1>

    {% for toba in tobacco %}
    <a href="{% url 'cigarettes:detail' toba.id %}">
        {{toba.brand}}{{toba.name}}
        <br>
    </a>
    {% endfor %}

{% endblock %}


